Repository Imperger/kb-game: changes, and which Codecov flags are due for each by the changed paths.
All: backend, spawner

refact: Change defaults
  frontend/src/scenario/ScenarioList.vue
Due: none

test: The remove last scenario case
  test/src/backend-test.ts
Due: none

refact: Deal with spawner
  backend/src/game/game.service.ts
  backend/src/spawner/spawner-exception.ts
  backend/src/spawner/spawner.controller.ts
  backend/src/spawner/spawner.service.ts
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: backend

refact: Simplify cpm calculation
  game_instance/src/game/Replay.ts
Due: none

refact: Simplifying
  game_instance/src/game/Replay.ts
Due: none

feat: Possibility to redirect a quick game players to dev instance
  spawner/.vscode/launch.json
  spawner/src/spawner/interceptors/quick-to-dev-redirector.ts
  spawner/src/spawner/spawner.module.ts
Due: spawner

refact: Remove dead code
  backend/src/game/dto/end-custom-game.dto.ts
Due: backend

fix: Double call endGame method
  game_instance/src/game/end-game/wait-until-progress-end-game.ts
Due: none

feat: Uploading a replay & tracking an elo
  backend/src/app.module.ts
  backend/src/player/player.module.ts
  backend/src/player/player.service.ts
  backend/src/replay/dto/replay-dto.ts
  backend/src/replay/interfaces/replay-stats.ts
  backend/src/replay/replay.controller.spec.ts
  backend/src/replay/replay.controller.ts
  backend/src/replay/replay.module.ts
  backend/src/replay/replay.service.spec.ts
  backend/src/replay/replay.service.ts
  backend/src/replay/schemas/replay.schema.ts
  backend/src/replay/stats-gatherer.service.ts
  backend/src/scoring/elo-calculator.service.ts
  backend/src/scoring/score-distribution/exponential-distribution.ts
  backend/src/scoring/scoring.module.ts
  frontend/src/player-stats/PlayerStats.vue
  game_instance/src/game/backend-api.service.ts
  game_instance/src/game/game.service.ts
Due: backend

refact: Replace forEach with map
  backend/src/replay/stats-gatherer.service.ts
Due: backend

feat: Store a replay tracks in the order of the corresponding player took
  backend/src/replay/replay.controller.ts
  backend/src/replay/replay.service.ts
Due: backend

refact: Extract the duration types to own file
  backend/src/common/duration.ts
  backend/src/common/util/time-diff.ts
Due: backend

feat: Additional precalculated info for the replay schema
  backend/src/replay/interfaces/replay-stats.ts
  backend/src/replay/replay.service.ts
  backend/src/replay/schemas/replay.schema.ts
  backend/src/replay/stats-gatherer.service.ts
Due: backend

refact: play with types
  backend/src/player/interfaces/nickname.ts
  backend/src/player/player.controller.ts
  backend/src/spawner/spawner.service.ts
Due: backend

feat: Replays overview
  backend/src/common/is-valid-date.ts
  backend/src/common/pipes/parse-date.pipe.ts
  backend/src/player/interfaces/player-stats.ts
  backend/src/player/pipes/player-stats.pipe.ts
  backend/src/replay/interfaces/replay-overview.ts
  backend/src/replay/replay.controller.ts
  backend/src/replay/replay.service.ts
  backend/src/replay/stats-gatherer.service.ts
  frontend/src/main-menu/MainMenu.vue
  frontend/src/main-menu/MainMenuReplay.vue
  frontend/src/main-menu/main-menu-router.ts
  frontend/src/replay/ReplayItemOverview.vue
  frontend/src/replay/ReplaysOverview.vue
  frontend/src/services/api-service/api-service.ts
  frontend/src/services/api-service/player/player-stats.ts
  frontend/src/services/api-service/replay/replay-api.ts
  frontend/src/services/api-service/replay/replay-overview.ts
Due: backend

feat: Give replays in the recent first order
  backend/src/replay/replay.service.ts
Due: backend

fix: My replays resource
  frontend/src/main-menu/main-menu-router.ts
Due: none

feat: Enum validation pipe
  backend/src/common/pipes/enum-validation.pipe.ts
Due: backend

feat: The replays overview pagination
  backend/src/replay/interfaces/replay-overview.ts
  backend/src/replay/replay.controller.ts
  backend/src/replay/replay.service.ts
  frontend/src/services/api-service/replay/replay-api.ts
  frontend/src/services/api-service/replay/replay-overview.ts
Due: backend

feat: The replays overview pagination
  backend/src/replay/interfaces/replay-overview.ts
  backend/src/replay/replay.controller.ts
  backend/src/replay/replay.service.ts
  frontend/src/main-menu/MainMenuReplay.vue
  frontend/src/replay/ReplayItemOverview.vue
  frontend/src/replay/ReplaysOverview.vue
  frontend/src/services/api-service/replay/replay-api.ts
  frontend/src/services/api-service/replay/replay-overview.ts
Due: backend

refact: Unused import
  frontend/src/main-menu/MainMenuReplay.vue
Due: none

feat: Introduce the replay player
  backend/src/replay/interfaces/replay-snapshot.ts
  backend/src/replay/replay.controller.ts
  backend/src/replay/replay.service.ts
  frontend/src/replay/ReplayItemOverview.vue
  frontend/src/replay/ReplayPlayer.vue
  frontend/src/replay/replay-router.ts
  frontend/src/router/index.ts
  frontend/src/services/api-service/replay/replay-api.ts
  frontend/src/services/api-service/replay/replay-snapshot.ts
Due: backend

feat: Playback speed
  frontend/src/replay/ReplayPlayer.vue
Due: none

fix: Stop playing when unmount
  frontend/src/replay/ReplayPlayer.vue
Due: none

refact: Get ri of debug logging
  frontend/src/replay/ReplayPlayer.vue
Due: none

feat: Playback time & performance and code structure improvements
  frontend/src/replay/ReplayPlayer.vue
  frontend/src/services/api-service/replay/replay-snapshot.ts
Due: none

refact: Extract util method from the replay player
  frontend/src/replay/ReplayPlayer.vue
  frontend/src/util/formatters/ms-to-mm-ss.ts
Due: none

feat: Add duration to the replay item overview
  frontend/src/replay/ReplayItemOverview.vue
Due: none

refact: Rename replay overview item
  frontend/src/replay/ReplayOverviewCard.vue
  frontend/src/replay/ReplaysOverview.vue
Due: none

test: Cover replays
  test/package-lock.json
  test/package.json
  test/src/api/backend-api.ts
  test/src/backend-test.ts
  test/src/gameplay/game-client.ts
  test/src/gameplay/remote-call.ts
  test/src/gameplay/strategies/auth-strategy.ts
  test/src/gameplay/strategies/game-strategy.ts
  test/src/gameplay/strategies/interfaces/lobby-events.ts
  test/src/gameplay/strategies/lobby-strategy.ts
  test/src/gameplay/strategies/quick-game-lobby-strategy.ts
  test/src/gameplay/strategies/strategy.ts
Due: none

refact: Explicit return types in the replay controller
  backend/src/replay/replay.controller.ts
Due: backend

fix: Explicitly leave the quick game queue without waiting connection close
  backend/src/game/game.service.ts
Due: backend

refact: Extract similar part of query
  backend/src/replay/replay.service.ts
Due: backend

react: Doesn't send an unnecessary tracks data
  backend/src/replay/replay.service.ts
Due: backend

refact: Use single quotes everywhere
  backend/src/replay/replay.service.ts
Due: backend

fix: Corresponding error for a missing replay
  backend/src/replay/replay.service.ts
Due: backend

fix: Incorrect players tracking in matchmaking queue
  backend/src/game/game.controller.ts
  backend/src/game/game.service.ts
  backend/src/game/match-making-strategies/anyone-with-deadline-strategy.ts
  backend/src/game/match-making-strategies/match-makin-strategy.ts
  backend/src/game/matchmaking.service.ts
Due: backend

Path conditions:
  backend: any of: backend
  spawner: any of: spawner
