Repository Imperger/kb-game: changes, and which Codecov flags are due for each by the changed paths.
All: backend, spawner

codecov.yml:

flags:
 backend:
   paths:
     - ./backend
 spawner:
   paths:
     - ./spawner
coverage:
   range: "60...90"
   status:
    project:                   
      default:                 
        enabled: yes           
        target: 90%
    patch:                   
      default:                 
        enabled: yes           
        target: 90%

Update integration-test.yml
  .github/workflows/integration-test.yml
Due: none

Close #56
  .github/workflows/integration-test.yml
  codecov.yml
  test/run
Due: none

Close #56
  test/run
Due: none

test: Empty game list case
  test/src/backend-test.ts
Due: none

test: Expect non empty game list
  test/src/backend-test.ts
Due: none

refact: Get rid of useless class
  backend/src/common/logger-exception.ts
  backend/src/config/config-loader.ts
  backend/src/config/config-validator.ts
Due: backend

test: Trying add already added spawner
  test/src/backend-test.ts
Due: none

refact: Avoid deprecated method usage
  backend/src/user/user.service.ts
Due: backend

fix: Remove auth header after sign out
  frontend/src/components/ProfileWidget.vue
  frontend/src/services/api-service/auth/auth-api.ts
Due: none

refact: Typo in desc
  test/src/backend-test.ts
Due: none

fix: Trashy copypasta & correct linking period for a player
  backend/src/player/player.controller.ts
  game_instance/src/game/participant.service.ts
  game_instance/src/shutdown.service.ts
Due: backend

test: Cover the link resource
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: none

chore: Set to default codecov patch behavior
  codecov.yml
Due: none

test: Re-create custom game case
  test/src/backend-test.ts
Due: none

refact: More appropriate name for mount path that contains ca for a game instance
  deploy/docker-compose/spawner/config/settings.json
  spawner/src/config/config-schema.ts
  spawner/src/spawner/spawner.service.ts
  test/spawner/settings.json
Due: spawner

test: Connect with invalid instanceUrl
  test/src/backend-test.ts
Due: none

test: Cover backend dto validator
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: none

refact: Combine the scope definition decorator with corresponding the guard
  backend/src/auth/decorators/has-scopes.decorator.ts
  backend/src/auth/guards/scope.guard.ts
  backend/src/game/game.controller.ts
  backend/src/scenario/scenario.controller.ts
  backend/src/spawner/spawner.controller.ts
Due: backend

Update codecov.yml
  codecov.yml
Due: none

feat: Add played time prop
  backend/src/player/player.service.ts
  backend/src/player/schemas/player.schema.ts
Due: backend

feat: Extend player entity
  backend/src/player/interfaces/player-stats.ts
  backend/src/player/pipes/player-by-nickname.pipe.ts
  backend/src/player/pipes/player-stats.pipe.ts
  backend/src/player/player.controller.ts
  backend/src/player/schemas/player.schema.ts
  backend/src/player/validators/discriminator-part-validator.ts
  backend/src/player/validators/nickname-part-validator.ts
  backend/src/player/validators/nickname-validator.ts
Due: backend

feat: Utilize new the player api
  frontend/src/main-menu/MainMenu.vue
  frontend/src/main-menu/MainMenuProfile.vue
  frontend/src/main-menu/main-menu-router.ts
  frontend/src/player-stats/PlayerStats.vue
  frontend/src/player-stats/PlayerStatsViewer.vue
  frontend/src/player-stats/player-router.ts
  frontend/src/router/index.ts
  frontend/src/services/api-service/api-service.ts
  frontend/src/services/api-service/player/player-api.ts
  frontend/src/services/api-service/player/player-stats.ts
Due: none

refact: Lint
  backend/src/player/player.service.ts
  frontend/src/App.vue
Due: backend

chore: Test profile for the backend debugging
  backend/.vscode/launch.json
Due: backend

fix: Correct status code for a unknown player
  backend/src/player/pipes/player-by-nickname.pipe.ts
Due: backend

refact: Linter
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: none

test: Cover the player controller
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: none

feat: Quick game queue implementation
  backend/src/game/game.controller.ts
  backend/src/game/game.module.ts
  backend/src/game/game.service.ts
  backend/src/game/interfaces/quick-game-descriptor.ts
  backend/src/game/interfaces/request-resolver.ts
  backend/src/game/match-making-strategies/anyone-with-deadline-strategy.ts
  backend/src/game/match-making-strategies/match-makin-strategy.ts
  backend/src/game/match-making-strategies/player-service-extension.ts
  backend/src/game/matchmaking.service.ts
  backend/src/game/quick-game-queue-responder.service.ts
  backend/src/player/player.service.ts
Due: backend

feat: Quick game related for fronted
  frontend/src/main-menu/MainMenuPlay.vue
  frontend/src/services/api-service/game/game-api.ts
  frontend/src/store/app.ts
Due: none

chore: Add `@` alias for the source root
  game_instance/package.json
  game_instance/test/jest-e2e.json
  game_instance/tsconfig.json
Due: none

chore: Update typescript 4.3.5 -> 4.7.4
  game_instance/package-lock.json
  game_instance/package.json
Due: none

chore: Add the quick game debug profile
  game_instance/.vscode/launch.json
Due: none

test: Cover the quick game
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: none

Fix #76
  backend/src/scenario/scenario.service.ts
Due: backend

refact: Remove scenario
  backend/doc/DEV_NOTES.md
  backend/src/scenario/scenario-exception.ts
  backend/src/scenario/scenario.controller.ts
  backend/src/scenario/scenario.service.ts
  frontend/src/scenario/ScenarioList.vue
  frontend/src/services/api-service/scenario/scenario-api.ts
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: backend
