Repository Imperger/kb-game: changes, and which Codecov flags are due for each by the changed paths.
All: backend, spawner

test: Cover find replay by id
  test/src/backend-test.ts
Due: none

feat: Trunc long nicknames in replay card
  frontend/src/replay/ReplayOverviewCard.vue
Due: none

doc: Update readme
  README.md
Due: none

chore: Tune backend dev env
  backend/.devcontainer/devcontainer.json
  backend/.vscode/launch.json
Due: backend

feat: Embed prometheus metrics client & connect it with the dev grafana
  backend/.devcontainer/docker-compose.yml
  backend/.devcontainer/prometheus/prometheus.yml
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/strategies/login-by-email.strategy.ts
  backend/src/auth/strategies/login-by-username.strategy.ts
  backend/src/metrics/inject-tokens.ts
  backend/src/metrics/metrics.controller.spec.ts
  backend/src/metrics/metrics.controller.ts
  backend/src/metrics/metrics.module.ts
  backend/src/metrics/request-counter-interceptor.ts
Due: backend

chore: Put grafana behind nginx in dev environment -`/metrics`
  backend/.devcontainer/docker-compose.yml
  backend/.devcontainer/grafana/grafana.ini
  backend/.devcontainer/nginx/nginx.conf
  backend/.gitignore
Due: backend

feat: Put grafana behind nginx for production - `/metrics`
  deploy/docker-compose/backend/docker-compose.yml
  deploy/docker-compose/backend/grafana/grafana.ini
  deploy/docker-compose/backend/nginx/nginx.conf
  deploy/docker-compose/backend/prometheus/prometheus.yml
Due: none

fix: Specify an error in case unknown scenario id
  backend/src/scenario/scenario.service.ts
Due: backend

fix: Validate scenario id
  backend/src/scenario/scenario.controller.ts
Due: backend

feat: Rework the replay rendering method
  frontend/src/replay/ReplayPlayer.vue
Due: none

refact: Get rid of unused controller
  backend/src/metrics/metrics.controller.spec.ts
  backend/src/metrics/metrics.controller.ts
Due: backend

Fix: #95
  game_instance/src/game/Replay.ts
Due: none

doc: Update docs
  doc/README.MD
Due: none

feat: Custom game interceptor for debugging purposes
  spawner/src/spawner/interceptors/custom-to-dev-redirector.ts
  spawner/src/spawner/spawner.module.ts
Due: spawner

chore: Add debug profile for custom game for the spawner
  spawner/.vscode/launch.json
Due: spawner

fix: Throws non 200 when can't enter a quick game queue
  backend/src/game/game-exception.ts
  backend/src/game/game.controller.ts
  frontend/src/main-menu/MainMenuPlay.vue
  frontend/src/services/api-service/game/game-api.ts
Due: backend

fix: Inability to done the custom game solo
  game_instance/src/game/end-game/wait-until-progress-end-game.ts
Due: none

refact: Get rid of dead code
  game_instance/src/game/game.gateway.ts
  game_instance/src/game/game.service.ts
Due: none

feat: Coherency the stats between an after match summary and an uploaded replay
  backend/src/replay/dto/replay-dto.ts
  backend/src/replay/replay.service.ts
  backend/src/replay/stats-gatherer.service.ts
  frontend/src/game/GameSummaryDlg.vue
  frontend/src/game/gameplay/strategies/game-strategy.ts
  game_instance/src/game/Replay.ts
  game_instance/src/game/backend-api.service.ts
  game_instance/src/game/game.service.ts
Due: backend

fix: Return the correct part of requested replays
  backend/src/replay/replay.service.ts
  frontend/src/main-menu/MainMenuReplay.vue
Due: backend

feat: Disable the navigation while in a request
  frontend/src/main-menu/MainMenuReplay.vue
Due: none

refact: Extract quick game button
  frontend/src/main-menu/MainMenuPlay.vue
  frontend/src/main-menu/play/QuickPlayButton.vue
  frontend/src/main-menu/styles.css
Due: none

Reconnection to a custom game lobby
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main-menu/MainMenuPlay.vue
  frontend/src/main-menu/play/QuickPlayButton.vue
  frontend/src/mixins/index.ts
  frontend/src/mixins/watch-mixin.ts
  frontend/src/replay/ReplayPlayer.vue
Due: none

chore: Make a debug game instance visible in the server browser
  game_instance/.devcontainer/devcontainer.json
  game_instance/.vscode/launch.json
  spawner/src/spawner/interceptors/custom-to-dev-redirector.ts
  spawner/src/spawner/interceptors/quick-to-dev-redirector.ts
  spawner/src/spawner/spawner.service.ts
Due: spawner

fix: Incorrect accuracy calculation with an empty replay
  backend/src/replay/stats-gatherer.service.ts
Due: backend

fix: Typos
  frontend/src/player-stats/PlayerStats.vue
  game_instance/src/app.module.ts
Due: none

feat: Reconnection to running custom or quick game
  frontend/src/game/GameLobby.vue
  frontend/src/game/GameView.vue
  frontend/src/game/LobbyScenarioList.vue
  frontend/src/game/PlayersProgressPanel.vue
  frontend/src/game/QuickGameLobby.vue
  frontend/src/game/gameplay/game-client.ts
  frontend/src/game/gameplay/strategies/auth-strategy.ts
  frontend/src/game/gameplay/strategies/game-strategy.ts
  frontend/src/game/gameplay/strategies/interfaces/lobby-events.ts
  frontend/src/game/gameplay/strategies/lobby-strategy.ts
  frontend/src/game/gameplay/strategies/quick-game-lobby-strategy.ts
  frontend/src/game/gameplay/strategies/strategy.ts
  frontend/src/main-menu/play/QuickPlayButton.vue
  game_instance/src/custom-game/custom-game-participant.service.ts
  game_instance/src/game/game.gateway.ts
  game_instance/src/game/game.service.ts
  game_instance/src/game/interfaces/game-event.interface.ts
  game_instance/src/game/interfaces/lobby-event.interface.ts
  game_instance/src/game/progress-tracker.ts
  game_instance/src/quick-game/quick-game-participant.service.ts
Due: none

chore: Sync game client with test project
  test/src/gameplay/game-client.ts
  test/src/gameplay/strategies/auth-strategy.ts
  test/src/gameplay/strategies/game-strategy.ts
  test/src/gameplay/strategies/interfaces/lobby-events.ts
  test/src/gameplay/strategies/lobby-strategy.ts
  test/src/gameplay/strategies/quick-game-lobby-strategy.ts
  test/src/gameplay/strategies/strategy.ts
Due: none

chore: Indent and comma dangling rules
  spawner/.eslintrc.js
  spawner/package.json
Due: spawner

linter: Code formatting
  backend/src/game/game.controller.ts
Due: backend

feat: Add global notification
  frontend/src/App.vue
  frontend/src/components/spawner/SpawnerManager.vue
  frontend/src/mixins/store-mixin.ts
  frontend/src/store/index.ts
  frontend/src/store/notify.ts
Due: none

feat: Prevent entering quick game queue when no any spawner
  backend/src/game/game-exception.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.service.ts
  frontend/src/main-menu/MainMenuPlay.vue
  frontend/src/main-menu/play/QuickPlayButton.vue
  frontend/src/services/api-service/api-service.ts
Due: backend

fix: Auto adjust carriage after resize
  frontend/src/game/TypingTextTracker.vue
Due: none

feat: SignIn\Up with google
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth-exception.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/decorators/auth-google.guard.ts
  backend/src/auth/decorators/google-id-token.ts
  backend/src/jwt/jwt.strategy.ts
  backend/src/user/schemas/user.schema.ts
  backend/src/user/user.service.ts
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/auth/Login.vue
  frontend/src/auth/Register.vue
  frontend/src/components/RegistrationForm.vue
  frontend/src/components/auth/GoogleAuthButton.vue
  frontend/src/services/api-service/auth/auth-api.ts
  frontend/src/services/api-service/auth/auth-error.ts
  frontend/src/util/inject-script.ts
  frontend/tsconfig.json
Due: backend

fix: Uninitialized dependencies
  backend/src/auth/guards/scope.guard.ts
Due: backend

fix: Backend build failure
  backend/src/auth/decorators/auth-google.guard.ts
Due: backend

refact: Unused type
  frontend/src/components/auth/GoogleAuthButton.vue
Due: none

fix: Mark optional unique index sparse
  backend/src/user/schemas/user.schema.ts
Due: backend

chore: Update backend dependencies
  backend/.devcontainer/devcontainer.json
  backend/package-lock.json
  backend/package.json
  backend/src/config/index.ts
Due: backend

chore: Bump the dev container version
  backend/.devcontainer/docker-compose.yml
Due: backend

Path conditions:
  backend: any of: backend
  spawner: any of: spawner
