Repository Imperger/kb-game: changes, and which Codecov flags are due for each by the changed paths.
All: backend, spawner

test: Test case use invalid input data
  test/src/spawner-test.ts
Due: none

refact: Scenario controller stepped on RESTful way
  backend/src/scenario/scenario.controller.ts
  frontend/src/services/api-service/scenario/scenario-api.ts
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: backend

fix: Adjust to backend route changes
  game_instance/src/game/game.service.ts
Due: none

fix: Avoid use deprecated api
  backend/src/spawner/spawner.service.ts
Due: backend

fix: endGame fires twice
  game_instance/src/game/end-game/wait-until-progress-end-game.ts
Due: none

feat: Add `game` scope to config
  backend/src/config/config-schema.ts
  backend/test/settings.json
  deploy/docker-compose/backend/config/backend.json
Due: backend

refact: Linter pass
  backend/src/game/game.controller.ts
Due: backend

Close #36
  backend/src/game/game.controller.ts
  backend/src/game/game.module.ts
  backend/src/game/game.service.ts
  backend/src/player/dto/unlink-game-all.dto.ts
  backend/src/player/interfaces/linked-game.ts
  backend/src/player/player.controller.ts
  backend/src/player/player.module.ts
  backend/src/player/player.service.ts
  backend/src/player/schemas/player.schema.ts
  game_instance/src/app.module.ts
  game_instance/src/game.gateway.ts
  game_instance/src/game/backend-api.service.ts
  game_instance/src/game/game.service.ts
Due: backend

Update codecov.yml
  codecov.yml
Due: none

chore: Get rid of multiple copies of same config
  backend/package.json
  backend/src/config/index.ts
  backend/src/launch-params.ts
  backend/src/main.ts
  backend/test/runner.js
  backend/test/settings.json
  deploy/docker-compose/backend/docker-compose.yml
Due: backend

doc: Update
  backend/doc/DEV_NOTES.md
  doc/README.MD
Due: backend

refact: Linter pass
  backend/src/game/game.controller.ts
  backend/src/game/game.service.ts
Due: backend

test: Cover the game controller
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: none

fix: Release a player if request failed
  backend/src/game/game.service.ts
Due: backend

test: Cover the game controller
  deploy/docker-compose/backend/nginx/nginx.conf
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: none

refact: Remove unused module
  backend/src/auth/auth.module.ts
  backend/src/email/email.module.ts
  backend/src/email/email.service.spec.ts
  backend/src/email/email.service.ts
  backend/src/email/interfaces/email-payload.ts
Due: backend

refact: Decomposite the game instance service
  game_instance/src/app.module.ts
  game_instance/src/game.gateway.ts
  game_instance/src/game/end-game/end-game-strategy.ts
  game_instance/src/game/end-game/wait-until-progress-end-game.ts
  game_instance/src/game/event-emitter.service.ts
  game_instance/src/game/game.service.ts
  game_instance/src/game/instance-url.ts
  game_instance/src/game/interfaces/game-event.interface.ts
  game_instance/src/game/interfaces/lobby-event.interface.ts
  game_instance/src/game/participant.service.ts
  game_instance/src/game/ws-server-ref.service.ts
Due: none

refact: Restructure files
  game_instance/src/app.controller.ts
  game_instance/src/app.module.ts
  game_instance/src/guards/spawner.guard.ts
Due: none

feat: Guard routes that only available for owner
  game_instance/src/game.gateway.ts
  game_instance/src/guards/owner.guard.ts
Due: none

feat: Reject new connections after the game start
  game_instance/src/game.gateway.ts
  game_instance/src/game/game.service.ts
Due: none

feat: Auto shutdown strategies
  game_instance/src/game/participant.service.ts
  game_instance/src/shutdown.service.ts
Due: none

fix: Make available ca for game instance
  test/run
  test/spawner/settings.json
Due: none

debug: Proof of that gi crash in test env
  game_instance/src/game/game.service.ts
Due: none

feat: Throw if can't spawn instance
  spawner/src/spawner/spawner.service.ts
Due: spawner

test: Fix spawner
  test/src/spawner-test.ts
Due: none

feat: Decrease waiting instance time in case when it can't bootstrap
  spawner/src/spawner/spawner.service.ts
Due: spawner

debug: Any interaction with backend
  game_instance/src/game/game.service.ts
Due: none

test: Fix game instance crash
  test/run
Due: none

refact: Linter
  backend/src/game/game.controller.ts
Due: backend

refact: Get rid of useless crap
  spawner/src/common/logger-exception.ts
  spawner/src/config/config-loader.ts
  spawner/src/config/config-validator.ts
Due: spawner

Update integration-test.yml
  .github/workflows/integration-test.yml
Due: none

Path conditions:
  backend: any of: backend
  spawner: any of: spawner
