Repository Imperger/kb-game: changes, and which Codecov flags are due for each by the changed paths.
All: backend, spawner

chore: Put test project in same network with others
  test/.devcontainer/devcontainer.json
Due: none

test: Cover the spawner `game/list` route
  test/src/spawner-test.ts
Due: none

test: Play with testing
  test/src/api-tester.ts
  test/src/api/spawner-api.ts
  test/src/backend-test.ts
  test/src/guards/axios-error-guard.ts
  test/src/guards/is-promise-guard.ts
  test/src/main.ts
  test/src/spawner-test.ts
Due: none

Update README.md
  README.md
Due: none

test: Redundant cov upload
  .github/workflows/integration-test.yml
Due: none

refact: Get rid of dead code
  spawner/src/jwt/jwt.strategy.ts
Due: spawner

feat: Use real mailer module
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.service.ts
  backend/src/config/config-schema.ts
  deploy/docker-compose/backend/config/backend.json
Due: backend

test: Cover registration flow
  deploy/docker-compose/backend/docker-compose.test.yml
  test/src/api-interface.ts
  test/src/api/backend-api.ts
  test/src/backend-test.ts
  test/src/mailbox.ts
  test/src/main.ts
Due: none

chore: Add mail server to dev env
  backend/.devcontainer/docker-compose.yml
Due: backend

test: Cover registration flow
  backend/test/settings.json
  deploy/docker-compose/backend/docker-compose.test.yml
  test/src/api-interface.ts
  test/src/api/backend-api.ts
  test/src/backend-test.ts
  test/src/mailbox.ts
  test/src/main.ts
Due: backend

feat: Replace the recaptcha module with origin
  backend/package-lock.json
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/exceptions/invalid-recaptcha.exception.ts
  backend/src/common/filters/recaptcha-exception.filter.ts
  backend/src/main.ts
Due: backend

refact: Use config through DI
  backend/src/app.module.ts
  backend/src/auth/strategies/registration-confirm.strategy.ts
  backend/src/common/filters/app-exception/app-exception.filter.ts
  backend/src/jwt/jwt.module.ts
  backend/src/jwt/jwt.strategy.ts
Due: backend

fix: Returns 200 for login resource
  backend/src/auth/auth.controller.ts
Due: backend

test: Cover the backend login resource
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: none

refact: Dead code
  backend/src/auth/auth.service.ts
Due: backend

test: Cover the backend auth & a bit of the user modules
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: none

feat: Ability to remove scenario
  backend/src/common/pipes/parse-object-id.pipe.ts
  backend/src/scenario/scenario.controller.ts
  backend/src/scenario/scenario.service.ts
  frontend/src/components/scenario-editor/ScenarioEditor.vue
  frontend/src/services/api-service/scenario/scenario-api.ts
Due: backend

test: Cover game/list
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: none

refact: Rename component
  frontend/src/components/scenario-editor/ScenarioList.vue
  frontend/src/views/main-menu/MainMenuServer.vue
Due: none

feat: Increase max length of scenario title
  backend/src/scenario/dto/new-scenario.dto.ts
Due: backend

feat: Add validation for scenario editor
  frontend/src/views/scenario/NewScenario.vue
Due: none

feat: `@Catch` set default exception if any occured
  backend/src/common/decorators/catch.decorator.ts
Due: backend

feat: Possibility to edit scenarios
  backend/src/scenario/scenario.controller.ts
  backend/src/scenario/scenario.service.ts
  frontend/src/components/scenario-editor/ScenarioList.vue
  frontend/src/router/scenario.ts
  frontend/src/services/api-service/scenario/scenario-api.ts
  frontend/src/views/scenario/ScenarioEditor.vue
Due: backend

test: Make db available for test suite
  deploy/docker-compose/backend/docker-compose.test.yml
Due: none

fix: Returns operation status
  backend/src/scenario/scenario.controller.ts
Due: backend

chore: Install mongo client for test project
  test/package-lock.json
  test/package.json
Due: none

test: Partially cover the scenario controller
  test/src/api-interface.ts
  test/src/api/backend-api.ts
  test/src/backend-test.ts
  test/src/main.ts
Due: none

refact: Rearrange source code in folders corresponding to their domain
  frontend/src/auth/Login.vue
  frontend/src/auth/Register.vue
  frontend/src/auth/RegistrationConfirm.vue
  frontend/src/auth/auth-router.ts
  frontend/src/game/GameLobby.vue
  frontend/src/game/GameSummaryDlg.vue
  frontend/src/game/GameView.vue
  frontend/src/game/KeyboardInputMixin.ts
  frontend/src/game/LobbyFfaPlayerList.vue
  frontend/src/game/LobbyScenarioList.vue
  frontend/src/game/PlayersProgressPanel.vue
  frontend/src/game/TypingTextTracker.vue
  frontend/src/game/game-router.ts
  frontend/src/game/gameplay/game-client.ts
  frontend/src/game/gameplay/remote-call.ts
  frontend/src/game/gameplay/strategies/auth-strategy.ts
  frontend/src/game/gameplay/strategies/game-strategy.ts
  frontend/src/game/gameplay/strategies/lobby-strategy.ts
  frontend/src/game/gameplay/strategies/strategy.ts
  frontend/src/main-menu/MainMenu.vue
  frontend/src/main-menu/MainMenuHome.vue
  frontend/src/main-menu/MainMenuPlay.vue
  frontend/src/main-menu/MainMenuServer.vue
  frontend/src/main-menu/main-menu-router.ts
  frontend/src/main-menu/play/ServerBrowser.vue
  frontend/src/mixins/game-mixin.ts
  frontend/src/router/index.ts
  frontend/src/router/router-comparator.ts
  frontend/src/scenario/ScenarioEditor.vue
  frontend/src/scenario/ScenarioList.vue
  frontend/src/scenario/scenario-router.ts
Due: none

fix: Wait for client connected
  frontend/src/game/gameplay/game-client.ts
Due: none

chore: Set traefik labels for dev env
  game_instance/.devcontainer/devcontainer.json
Due: none

fix: Game instance forward rule
  spawner/src/spawner/spawner.service.ts
Due: spawner

Close #29
  game_instance/src/game/game-field-builder.ts
  game_instance/src/game/game-field-renderer.ts
  game_instance/src/game/progress-tracker.ts
Due: none

fix: More precise way to detect a wrong secret
  backend/src/spawner/spawner.service.ts
Due: backend

test: Cover `backend` spawner controller
  test/src/api/backend-api.ts
  test/src/backend-test.ts
Due: none

test: Rework api tester
  test/src/api-tester.ts
  test/src/api/backend-api.ts
  test/src/api/spawner-api.ts
  test/src/api/types.ts
  test/src/backend-test.ts
  test/src/spawner-test.ts
Due: none

refact: Simplify spawner controller routes
  backend/src/spawner/spawner.controller.ts
  frontend/src/services/api-service/spawner/spawner-api.ts
  test/src/api/backend-api.ts
Due: backend

Path conditions:
  backend: any of: backend
  spawner: any of: spawner
